# python local directories
__pycache__/
**/__pycache__/
.pytest_cache/


# exclude resources for now
resources/envs/.*
sandbox/
/notebooks/.ipynb_checkpoints/
venv/
notebooks/*.npy
notebooks/*.csv
notebooks/*.json
notebooks/*.h5
notebooks/ethw.*
notebooks/logs/
notebooks/tensorflow_log/
resources/mlflow/cuda_11.2.2_460.32.03_linux.run
